# fly.toml app configuration file generated for fullstack-auth-demo
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = "fullstack-auth-demo"
primary_region = "iad"

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "3000"
  NODE_ENV = "production"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

  [[http_service.checks]]
    interval = "15s"
    timeout = "10s"
    grace_period = "30s"
    method = "GET"
    path = "/api/docs"

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256
