option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: "3000"
    NODE_ENV: "production"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "node dist/main.js"
    NodeVersion: "20"
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /: public
